.pile-node-linkline {

	--color: var(--blue-grey-300);

	position: absolute;
	left: calc(var(--width) * -1);
	top: 0;
	bottom: 0;
	width: var(--width);
	opacity: 0;
	z-index: 0;

	transition: all var(--default-animation-duration) ease-in-out;

	will-change: left, width;

}


	.pile-node-linkline > .angle {

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 24px;

		border: var(--thickness) solid var(--color);
		border-top-width: 0;
		border-right-width: 0;
		border-bottom-left-radius: 9px;

		transition: all var(--default-animation-duration) ease-in-out;

		will-change: border;

	}

	.pile-node-linkline> .line-to-parent {

		position: absolute;
		inset: 0;
		border-left: var(--thickness) solid var(--color);
		transition: all var(--default-animation-duration) ease-in-out;
		will-change: border-left;

	}

	.pile-node-linkline > .line-to-next {

		position: absolute;
		inset: 0;
		border-left: var(--thickness) solid var(--color);
		transition: all var(--default-animation-duration) ease-in-out;
		will-change: border-left;

	}


	.pile-node-linkline.visible {

		opacity: 1;

	}

	.pile-node-linkline.visible	> .line-to-parent {
		top: -24px;
		height: 24px;
	}
