.pile-group-node-2-backfill {

	position: absolute;
	inset: 0;
	//bottom: calc(var(--op, 0) * 24px);
	//top: 28px;


	min-height: 24px;
	border-top: var(--brd, 2px dotted var(--blue-grey-400));

	background: var(--bg, rgba(255,255,255,.4));

	//opacity: var(--op, 0);

	transition: all var(--default-animation-duration) ease-in-out, opacity var(--default-animation-duration) linear;

	will-change: bottom, opacity;

}