.pile-row-node-backfill {

	position: absolute;
	inset: 0;
	bottom: var(--mb, 24px);


	min-height: 24px;
	border-radius: 12px;
	border: 2px dotted var(--blue-grey-400);
	/*border-bottom-style: solid;*/

	background: var(--bg, rgba(255,255,255,.4));
	border-radius: 12px;
	border: var(--brd, 2px dotted var(--blue-grey-400));
	color: var(--color, inherit);

	opacity: var(--op, 0);

	transition: all var(--default-animation-duration) ease-in-out, opacity var(--default-animation-duration) linear;

	will-change: bottom, opacity;

}