.pile-group-node-1-backfill {

	position: absolute;
	inset: 0;
	bottom: calc(var(--op, 0) * 24px);


	min-height: 24px;

	background: var(--bg, rgba(255,255,255,.4));
	border-radius: 12px;
	border: var(--brd, 2px dotted var(--blue-grey-400));

	opacity: var(--op, 0);

	transition: all var(--default-animation-duration) ease-in-out, opacity var(--default-animation-duration) linear;

	will-change: bottom, opacity;

}