.pile-row-node-forefill {

	position: absolute !important;
	inset: 0 0 0 0 !important;
	border-radius: inherit;

	border: 0 solid transparent;

	transition: all 150ms ease-in-out;
	pointer-events: none;


	> div {

		position: absolute !important;
		inset: 0 0 0 0 !important;

		background: black;
		border-radius: inherit;
		opacity: 0;

		transition: all 150ms ease-in-out;

		pointer-events: none;

	}


	&.brd {
		border-color: #455a64;
	}

	&.bg {
		> div {
			opacity: .02;
		}
	}

}
